{
  "env": {
      "browser":true,
      "es6":true,
      "jquery":true
  },
  "extends":[
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/eslint-recommended"
  ],
  "globals":{
      "Atomics":true,
      "SharedArrayBuffer":true
  },
  "parser":"@typescript-eslint/parser",
  "parserOptions":{
      "ecmaFeatures":{
          "jsx":true
      },
      "ecmaVersion":2018,
      "sourceType":"module",
      "tsconfigRootDir":"./",
      "project":[
          "tsconfig.json"
      ]
  },
  "plugins":[
      "@typescript-eslint",
      "react",
      "react-hooks"
  ],
  "rules":{
      "react/jsx-uses-react":"error",
      "react/jsx-uses-vars":"error",
      "@typescript-eslint/no-explicit-any":"off",
      "@typescript-eslint/unbound-method":"off",
      "@typescript-eslint/ban-ts-ignore":"off",
      "@typescript-eslint/no-var-requires":"off",
      "quotes":[2, "single", { "avoidEscape":true}],
      "@typescript-eslint/adjacent-overload-signatures":"error",
      "@typescript-eslint/ban-ts-comment":"off",
      "@typescript-eslint/ban-types":"off",
      "@typescript-eslint/explicit-module-boundary-types":"warn",
      "no-array-constructor":"off",
      "@typescript-eslint/no-array-constructor":"error",
      "no-empty-function":"off",
      "@typescript-eslint/no-empty-function":"error",
      "@typescript-eslint/no-empty-interface":"error",
      "@typescript-eslint/no-extra-non-null-assertion":"error",
      "no-extra-semi":"off",
      "@typescript-eslint/no-extra-semi":"error",
      "@typescript-eslint/no-inferrable-types":"error",
      "@typescript-eslint/no-misused-new":"error",
      "@typescript-eslint/no-namespace":"error",
      "@typescript-eslint/no-non-null-asserted-optional-chain":"error",
      "@typescript-eslint/no-non-null-assertion":"warn",
      "@typescript-eslint/no-this-alias":"error",
      "no-unused-vars":"off",
      "@typescript-eslint/no-unused-vars":"warn",
      "@typescript-eslint/prefer-as-const":"error",
      "@typescript-eslint/prefer-namespace-keyword":"error",
      "@typescript-eslint/triple-slash-reference":"error",
      "react-hooks/rules-of-hooks":"error",
      "react-hooks/exhaustive-deps":"warn"
  },
  "settings":{
      "react":{
          "createClass":"createReactClass",
          "pragma":"React",
          "version":"detect",
          "flowVersion":"0.53"
      },
      "propWrapperFunctions":[
          "forbidExtraProps",
          {"property":"freeze", "object":"Object"},
          {"property":"myFavoriteWrapper"}
      ],
      "linkComponents":[
          "Hyperlink",
          {"name":"Link", "linkAttribute":"to"}
      ]
  }
}