.form {
    @include flex(column);

    label {
        @include flex(column);
    }

    &__input-type {
        padding: 0
    }
}

input {
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
}

.margin-top {
    margin-top: 1rem;
}