.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &--on {
        display: flex
    }

    &__panel {
        background: $primary-600;
        padding: 1rem;
        width: 100%;
        max-width: 25rem;
        border-radius: 2rem;

        &__header {
            margin-bottom: 1rem;

            &__title {
                font-size: 1.6rem;
                text-align: center;
            }
        }

        &__body {
            margin-bottom: 1rem;
        }

        &__buttons {
            width: 20rem;
            max-width: 14rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1rem;

            &__button-right {
                float: right
            }
        }
    }
}