.map {
    height: 100vh;
    width: 100%;
}

.select-tile-panel {
    position: absolute;
    background-color: $white;
    z-index: 1;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px;
    @include padding(0.5rem);
}