.dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: $white;

    &__container {
        width: 100%;
        padding: 4rem 1rem 1rem 1rem;
        border-radius: 1rem;
        @include flex(column, center, center);
    }
}