body,
a,
button,
input[type='submit'] {
  color: $white;
  font-family: $base-font-family;
}
h1,
h2,
h3,
h4 {
  padding: 0.25rem 0;
}
h1 {
  font-size: $h1-font-size;
}
h2 {
  font-size: $h2-font-size;
  @media (max-width: 340px) {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: $h3-font-size;
}
h4 {
  font-size: $h4-font-size;
}
a {
  text-decoration: none;
}
p {
  padding: 1rem 0;
}
